body{
    color:white;
    background-color:#222222;
    font-family: sans-serif;
}

body, html{
    margin:0;
    padding:0;
}

div{
    border: 10px solid #333333;
    width:800px;
    top: 50px;
    margin: auto;
}

body div#dropBox{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events:none;
    border: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration:none;
    color:white;
}

a:hover{
    text-decoration: underline;
}

i{
    margin: 0 10px;
    color: #c70640;
}

i#caret{
    margin: 0;
    padding: 0;
}

tr.header th{
    padding: 25px 50px;
}

table.addressBar{
    outline: 5px solid #333333;
    border-collapse: collapse;
    width: 100%;
}

table.addressBar tr{
    float: left;
}

table.addressBar tr th:hover{
    background-color: #c70640;
}

th#size{
    padding: 0;
    text-align:center;
}

table.addressBar tr th a{
    padding: 1px 0 1px 5px;
}

i.fa.fa-laptop{
    font-size: 13px;
}

input{
    border: none;
    padding-left: 13px;
}

.text {
    display: inline-block;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}