<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            background: #222222;
            padding: 0;
            margin: 0;
        }
        .center {
            display: block;
            margin-top: 10%;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
<audio class="center" controls>
    <source src="<%=address%>">
</audio>
</body>
</html>