<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            background-color: #222222;
        }
        .text-viewer {
            background-color: #feffed;
            width: 800px;
            min-height: 500px;
            padding: 25px;
            margin: 0 auto;
    }
    </style>
</head>
<body>

<div class="text-viewer">
    <p><%=text%></p>
</div>


</body>
</html>